</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Add Blog</title>
</head>

<body>
    <%- include('./partials/navbar') %>

        <div class="container mt-3">
            <form action="/blog" method="post">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
                </div>

                <div class="mb-3">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content"></textarea>
                </div>

                <div class="mb-3">
                    <label for="coverImage" class="form-label">Cover Image</label>
                    <input type="file" class="form-control" id="file" name="file" aria-describedby="file">
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary">Submit</button>
                </div>

        </div>

        <%- include('./partials/script') %>
</body>

</html>